PROXY_CONFIG_REDIS_HOST=127.0.0.1

# PROXY_CONFIG_REDIS_PORT=
# PROXY_CONFIG_REDIS_PASSWORD=
# PROXY_CONFIG_REDIS_TLS=

PROXY_CONFIG_MYSQL_HOST=127.0.0.1
PROXY_CONFIG_MYSQL_PORT=3306

# PROXY_CONFIG_MYSQL_USER=
# PROXY_CONFIG_MYSQL_PASSWORD=
# PROXY_CONFIG_MYSQL_DATABASE=

# PROXY_CONFIG_MYSQL_CONNLIMIT=20
